.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.log
*.xml
*.bbl
*.blg
*.toc
*.lot
*.lof
*.bcf
.~lock.*
*.synctex(busy)
informal-report_files/*
*.nav
*.snm
SCC_beamer_files/*
SCC_beamer_cache/*
/.project
